
*{
    background-color: rgb(255, 255, 255);
}

.content{
    display: flex;
    justify-content: center;
}
.content div{
    margin: 40px;
}
.content img{
    width: 400px;
    height: 300px;
    border-radius: 2%;
}
